@import url("https://db.onlinewebfonts.com/c/1a0f9c82ae37cc35dc3c8e6c81ea95a4?family=Larsseit");
@import url("http://db.onlinewebfonts.com/c/70c38766a71f8f7f0a477605da15fcd3?family=SF+Pro+Display");

.about {
  margin: 0;
  padding: 0;
  background-color: black;
  color: white;
}

.about #name {
  font-family: Larsseit, Arial;
  font-size: 5vw;
}

.aboutName {
  margin-left: 17vw;
}

.aboutText {
  margin: 1.4vw 1vw 0 50vw;
  display: flex;
  flex-direction: column;
  font-family: SF Pro Display, sans-serif, Arial;
}

.aboutText #abt-One {
  font-size: 1.5vw;
}

.aboutText #abt-Two {
  margin-top: 1vw;
  font-size: 1.2vw;
}

.button1 {
  margin-top: 2vw;
  font-family: Larsseit, Arial;
  font-size: 1vw;
  background-color: black;
  color: white;
  border-radius: 5px 5px;
  border: 2px solid white;
  padding: 0.1vw 1vw;
  cursor: pointer;
}

.button1:hover {
  transition: 0.5s ease-in;
  background-color: white;
  color: black;
}

.toolsSec {
  margin: 7vw 0 0 17vw;
  display: flex;
  flex-direction: row;
}

.toolsSec #toolTitle {
  font-family: Larsseit, Arial;
  font-size: 3vw;
}

.toolsSec #tools {
  margin: 5vw 0 0 16vw;
  font-size: 1.2vw;
  font-family: SF Pro Display, sans-serif, Arial;
}

.toolrow {
  display: flex;
  flex-direction: row;
}

.toolrow ul {
  padding-right: 5vw;
}

.toolrow ul li {
  margin-top: 1.5vw;
  text-decoration: none;
}

.toolsSec #tools2 {
  margin: 5vw 0 0 10vw;
  font-size: 1.2vw;
  font-family: SF Pro Display, sans-serif, Arial;
}

.toolrow2 {
  display: flex;
  flex-direction: row;
}

.toolrow2 ul {
  padding-right: 2vw;
}

.toolrow2 ul li {
  margin-top: 1.5vw;
  text-decoration: none;
}

@media (max-width: 1000px) {

  .about #name {
    font-size: 5.5vw;
  }

  .aboutText {
    margin: 1.4vw 1vw 0 17.5vw;
  }

  .aboutText #abt-One {
    font-size: 2vw;
    width: 65vw;
  }

  .aboutText #abt-Two {
    margin-top: 2vw;
    font-size: 1.7vw;
  }

  .button1 {
    margin-top: 3vw;
    font-size: 1.2vw;
    border-radius: 5px 5px;
    padding: 0.4vw 1.7vw;
  }

  .toolsSec {
    margin: 7vw 0 0 17vw;
    display: block;
  }
  
  .toolsSec #toolTitle {
    font-size: 4vw;
  }
  
  .toolsSec #tools {
    margin: 3vw 0 0 0vw;
    font-size: 1.7vw;
  }

  .toolrow ul {
    padding-right: 15vw;
  }

  .toolsSec #tools2 {
    margin: 5vw 0 0 0vw;
    font-size: 1.7vw;
  }
  
  .toolrow2 ul {
    padding-right: 8vw;
  }
}

@media (max-width: 575px) {

  .aboutName {
    margin: 4vw 0 0 25vw;
  }

  .about #name {
    font-size: 7vw;

  }
  .aboutText {
    margin: 1.4vw 1vw 0 7vw;
  }

  .aboutText #abt-One {
    font-size: 3vw;
    width: 85vw;
  }

  .aboutText #abt-Two {
    margin-top: 2vw;
    font-size: 1.7vw;
  }

  .button1 {
    margin-top: 3vw;
    font-size: 1.2vw;
    border-radius: 5px 5px;
    padding: 0.4vw 1.7vw;
  }

  .toolsSec {
    margin: 7vw 0 0 17vw;
    display: block;
  }
  
  .toolsSec #toolTitle {
    font-size: 4vw;
  }
  
  .toolsSec #tools {
    margin: 3vw 0 0 0vw;
    font-size: 1.7vw;
  }

  .toolrow ul {
    padding-right: 15vw;
  }

  .toolsSec #tools2 {
    margin: 5vw 0 0 0vw;
    font-size: 1.7vw;
  }
  
  .toolrow2 ul {
    padding-right: 8vw;
  }
}
