@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap");

.contact {
  margin: 0;
  padding: 0 0 5vw 0;
  background-color: black;
  color: white;
  font-size: 7vw;
  font-weight: 200;
}
.contactText {
  height: auto;
  width: 70vw;
  text-align: center;
  margin: 5vw 0 5vw 15vw;
}

#cText {
  font-size: 3vw;
  font-family: Raleway;
}

.marquee {
  position: relative;
  width: auto;
  max-width: 100%;
  height: 12vw;
  overflow: hidden;
  margin-top: 2vw;
}

.track {
  position: absolute;
  white-space: nowrap;
  will-change: transform;
  animation: marquee 25s linear infinite;
}

.track span a {
  font-family: Poppins;
  color: white;
  text-decoration: none;
}

#aboutArr {
  font-family: Kaisei Decol;
}

.track span a:hover {
  color: blue;
}

.track span:hover {
  text-decoration: none;
}

@keyframes marquee {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-50%);
  }
}

.spacing {
  height: 5vw;
}

@media (max-width: 1200px) {
  .contactText {
    margin: 15vw 0 15vw 15vw;
  }

  #cText {
    font-size: 3.5vw;
  }

  .spacing {
    height: 15vw;
  }
}

@media (max-width: 1000px) {
  .contactText {
    width: 90vw;
    margin: 20vw 0 20vw 5vw;
  }

  #cText {
    font-size: 4.5vw;
  }

  .spacing {
    height: 15vw;
  }
}

@media (max-width: 575px) {
  .contact {
    margin: 0;
    padding: 0 0 5vw 0;
    background-color: black;
    color: white;
    font-size: 8vw;
  }

  .contactText {
    width: 100vw;
    margin: 20vw 0 20vw -2vw;
  }

  #cText {
    font-size: 4.8vw;
  }

  .spacing {
    height: 10vw;
  }

  .marquee {
    height: 14vw;
    margin-top: 4vw;
  }
}
