@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap");
@import url("https://db.onlinewebfonts.com/c/1a0f9c82ae37cc35dc3c8e6c81ea95a4?family=Larsseit");

.contact {
  margin: 0;
  padding: 0;
  background-color: black;
  color: white;
  font-size: 7vw;
}

.contactText {
  height: auto;
  width: 70vw;
  text-align: center;
  margin-left: 15vw;
}

#cText {
  font-size: 3vw;
  font-family: Raleway;
}

.marquee {
  position: relative;
  width: auto;
  max-width: 100%;
  height: 12vw;
  overflow: hidden;
  margin-top: 2vw;
}

.track {
  position: absolute;
  white-space: nowrap;
  will-change: transform;
  animation: marquee 25s linear infinite;
}

.track span a {
  font-family: Poppins;
  color: white;
  text-decoration: none;
}

#aboutArr {
  font-family: Kaisei Decol;
}

.track span a:hover {
  color: blue;
}

.track span:hover {
  text-decoration: none;
}

@keyframes marquee {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-50%);
  }
}
