@import url('https://fonts.googleapis.com/css2?family=Inter:wght@200&family=Playfair+Display:wght@500&display=swap');
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400&display=swap");

.footer {
  background-color: black;
  color: white;
}

.col1,
.col2,
.col3 {
  display: flex;
  flex-direction: column;
}

#colName {
  font-size: 1.05vw;
  font-family: 'Playfair Display', serif;
  font-weight: 400;
}

#colDetail {
  font-size: 1vw;
  font-family: 'Poppins', sans-serif;
  font-weight: 300;
  margin-top: 1vw;
}

#copyright {
  margin-top: 1vw;
  font-size: 1vw;
  font-weight: 100;
}

.col1 {
  text-align: left;
  float: left;
  width: 33.3%;
}

.col1 span {
  margin-left: 7vw;
}

.col2 {
  text-align: center;
  float: left;
  width: 33.3%;
}

.col2 #colDetail a {
  text-decoration: none;
  color: white;
}

.col2 #colDetail a:hover {
  text-decoration: underline;
  color: white;
}

.col3 {
  text-align: right;
  float: right;
  width: 33.3%;
}

.col3 span {
  margin-right: 7vw;
}

#socialIcon {
  display: flex;
  flex-direction: row;
  margin-top: 2vw;
  margin-left: 4.7vw;
}

#socialIcon li {
  padding-left: 2vw;
  list-style-type: none;
}

@media (max-width: 1000px) {
  #colName {
    font-size: 1.7vw;
  }

  #colDetail {
    font-size: 1.5vw;
    font-family: 'Poppins', sans-serif;
  }

  #copyright {
    font-size: 1.5vw;
  }

  #socialIcon {
    margin-left: 3.4vw;
  }

  #socialIcon li {
    padding-left: 3vw;
  }

  .secSocial {
    height: 2.5vw;
    width: 3vw;
  }
}

@media (max-width: 575px) {
  .footer {
    padding-top: 15vw;
  }
  .col1 {
    width: 100%;
    margin-left: 0vw;
  }

  .col2 {
    margin-left: 7vw;
    margin-top: 15vw;
    text-align: left;
    width: 100%;
  }

  .col3 {
    margin-left: 7vw;
    margin-top: 15vw;
    text-align: left;
    float: left;
    width: 100%;
  }

  #colName {
    font-size: 4vw;
  }

  #colDetail {
    margin-top: 1.7vw;
    font-size: 3.5vw;
    font-family: 'Poppins', sans-serif;
  }

  #copyright {
    margin-top: 10vw;
    margin-bottom: 7vw;
    font-size: 3.5vw;
  }

  #socialIcon {
    margin-top: 3vw;
    margin-left: -0.7vw;
  }
  .secSocial {
    height: 5vw;
    width: 7vw;
  }

  #socialIcon li {
    padding-left: 7vw;
    list-style-type: none;
  }
}
