@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@600&display=swap");

.mainBody {
  background-color: black;
  color: white;
  text-align: center;
  z-index: 990;
}

.fpage {
  overflow: hidden;
}

.name {
  /*font-size: 1.5vw;
  margin-left: 20vw;*/
  display: none;
  flex-direction: row;
}

.name span {
  margin-top: 2vw;
}

.tName {
  font-family: "Poppins", sans-serif;
  font-size: 5.5vw;
  font-weight: bold;
  overflow: hidden;
}

.tName span {
  margin-top: 9.5vw;
  display: flex;
  flex-direction: column;
}

.tName #onHover:hover {
  color: black;
  transition: 0.2s ease-out;
  -webkit-text-stroke: 1.5px #5cff5c;
}

.shapes {
  margin-top: 10vw;
  background-color: transparent;
}

#one {
  height: 2vw;
  width: 2vw;
  margin-left: 10vw;
  margin-top: -10vw;
  border-radius: 50%;
  position: absolute;
  background-color: #5cff5c;
  transition: 0.5s ease-in-out;
}

#two {
  height: 2vw;
  width: 2vw;
  background-color: #f070a1;
  margin-left: 85vw;
  margin-top: -10vw;
  border-radius: 50%;
  position: absolute;
  transition: 0.5s ease-in-out;
}

#three {
  height: 2vw;
  width: 2vw;
  background-color: #ffff00;
  margin-left: 90vw;
  margin-top: -32vw;
  border-radius: 50%;
  position: absolute;
  transition: 0.5s ease-in-out;
}

#four {
  height: 2vw;
  width: 2vw;
  background-color: #16ffbd;
  margin-left: 5vw;
  margin-top: -30vw;
  border-radius: 50%;
  position: absolute;
  transition: 0.5s ease-in-out;
}

#five {
  margin-left: 77vw;
  margin-top: -20vw;
  position: absolute;
  overflow: hidden;
}

#six {
  margin-left: 15vw;
  margin-top: -22vw;
  position: absolute;
  overflow: hidden;
}

#seven {
  margin-left: 50vw;
  margin-top: -35vw;
  position: absolute;
  overflow: hidden;
}

@media (max-width: 1000px) {
  .name {
    font-size: 2vw;
  }
  .tName span {
    font-size: 10vw;
  }

  #five {
    margin-left: 35vw;
    margin-top: -7vw;
  }
  #six {
    margin-left: 45vw;
    margin-top: -7vw;
  }
  #seven {
    margin-left: 55vw;
    margin-top: -7vw;
  }
  .firstSocial {
    width: 4vw;
    height: 4vw;
  }
}

@media (max-width: 575px) {
  .name span {
    margin: 18vw;
    font-size: 3vw;
  }
  .tName span {
    margin: 20vw 0 5vw 0;
    font-size: 12vw;
  }

  #three {
    margin-top: -40vw;
  }

  #four {
    margin-left: 5vw;
    margin-top: -40vw;
  }

  .firstSocial {
    width: 5vw;
    height: 5vw;
  }
}
