@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100&family=Playfair+Display:wght@500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap");

.projects {
  background-color: black;
  display: flex;
  flex-direction: column;
  color: white;
  overflow: hidden;
}

.gigname {
  position: absolute;
  font-size: 1.2vw;
  margin-top: 32vw;
  margin-left: 0vw;
}

.gigname #fn {
  font-family: "Poppins", sans-serif;
  font-weight: 200;
}

.gigname #ln {
  font-family: "Playfair Display", serif;
  font-weight: 100;
  opacity: 0.7;
}

.projects .one {
  height: 30vw;
  width: 30vw;
  background-image: linear-gradient(rgba(0, 255, 135), rgba(96, 239, 255));
  margin-top: 0;
  margin-left: 10vw;
}

.projects .two {
  height: 30vw;
  width: 25vw;
  background-image: linear-gradient(rgba(255, 249, 91), rgba(255, 147, 15));
  margin-top: -25vw;
  margin-left: 55vw;
}

.projects .three {
  height: 30vw;
  width: 25vw;
  background-image: linear-gradient(rgb(255, 27, 107), rgba(69, 202, 255));
  margin-top: 4vw;
  margin-left: 20vw;
}

.projects .four {
  height: 29vw;
  width: 25vw;
  background-image: linear-gradient(rgba(255, 249, 91), rgba(255, 147, 15));
  margin-top: -27vw;
  margin-left: 65vw;
}

.projects .one .gig {
  height: 27vw;
  width: 27vw;
  position: absolute;
  display: block;
  margin-left: 1.4vw;
  margin-top: 1vw;
}

.projects .two .gig {
  height: 27vw;
  width: 22vw;
  position: absolute;
  display: block;
  margin-left: 1.5vw;
  margin-top: 1.5vw;
}

.projects .three .gig {
  height: 27vw;
  width: 22vw;
  position: absolute;
  display: block;
  margin-left: 1.5vw;
  margin-top: 1.2vw;
}

.projects .four .gig {
  height: 24vw;
  width: 22vw;
  position: absolute;
  display: block;
  margin-left: 1.5vw;
  margin-top: 2vw;
}

.space {
  height: 10vw;
}

.gig img {
  position: relative;
  overflow: hidden;
  max-width: 100%;
  max-height: 100%;
}

@media (max-width: 1000px) {
  .gigname {
    font-size: 2vw;
    margin-top: 42vw;
  }

  .projects .one {
    height: 40vw;
    width: 40vw;
    margin-left: 5vw;
  }
  .projects .two {
    height: 40vw;
    width: 35vw;
  }

  .projects .three {
    height: 40vw;
    width: 35vw;
    margin-top: 0;
    margin-left: 10vw;
  }

  .projects .four {
    height: 39vw;
    width: 35vw;
    margin-left: 55vw;
  }

  .projects .one .gig {
    height: 37vw;
    width: 37vw;
  }

  .projects .two .gig {
    height: 37vw;
    width: 32vw;
  }

  .projects .three .gig {
    height: 37vw;
    width: 32vw;
    position: absolute;
    display: block;
    margin-left: 1.5vw;
    margin-top: 1.2vw;
  }

  .projects .four .gig {
    height: 34vw;
    width: 32vw;
    position: absolute;
    display: block;
    margin-left: 1.5vw;
    margin-top: 2vw;
  }
}

@media (max-width: 575px) {
  .projects {
    display: block;
    width: 100%;
  }

  .gigname {
    font-size: 4vw;
    margin-top: 92vw;
  }

  .projects .one {
    height: 90vw;
    width: 90vw;
    margin-left: 4vw;
  }
  .projects .two {
    height: 90vw;
    width: 90vw;
    margin-left: 4vw;
    margin-top: 17vw;
  }

  .projects .three {
    height: 90vw;
    width: 90vw;
    margin-left: 4vw;
    margin-top: 17vw;
  }

  .projects .four {
    height: 90vw;
    width: 90vw;
    margin-left: 4vw;
    margin-top: 17vw;
    margin-bottom: 10vw;
  }

  .projects .one .gig {
    height: 87vw;
    width: 87vw;
  }

  .projects .two .gig {
    height: 87vw;
    width: 87vw;
  }

  .projects .three .gig {
    height: 87vw;
    width: 87vw;
  }

  .projects .four .gig {
    height: 87vw;
    width: 87vw;
  }
}
