/*.content3d {
  height: 20vw;
  width: 100%;
  overflow: hidden;
  background-color: black;
}

.contain {
  height: 40vw;
  width: 50vw;
  overflow: hidden;
  z-index: 995;
}

.contentText {
  margin-left: 40vw;
  margin-top: -35vw;
  position: absolute;
  z-index: 999;
}

.contentText span {
  color: white;
  font-family: "Segoe UI";
}

.contentText #textone {
  font-weight: 200;
  font-size: 4vw;
}
.contentText #midtext {
  font-weight: 100;
  font-size: 3vw;
}
.contentText #texttwo {
  font-size: 1.5vw;
  font-weight: 300;
}
*/
