@import url("http://fonts.cdnfonts.com/css/codec-cold");
@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@700&display=swap");

.header {
  background-color: black;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: white;
  margin: 0;
  padding: 0;
  width: 100%;
}

.logo {
  margin-top: 1rem;
}

.logo #logoo {
  width: 7vw;
  height: 7vw;
  margin-left: 7vw;
  font-family: Josefin Sans;
  font-size: 5vw;
  font-weight: bolder;
}
.hamburger {
  display: none;
}
@media (max-width: 1000px) {
  .logo #logoo {
    margin-left: 5vw;
    width: 10vw;
    height: 10vw;
    font-size: 7vw;
    overflow: hidden;
  }
}

.rightHeader {
  display: flex;
}

.rightHeader ul {
  margin-top: 1.5vw;
  padding: 0;
  display: flex;
}

.rightHeader li {
  list-style-type: none;
  justify-content: space-between;
  padding: 1vw 2vw 0vw 2vw;
}

@media (max-width: 575px) {
  .logo #logoo {
    margin-left: 2vw;
    width: 30vw;
    height: 15vw;
    overflow: hidden;
    font-size: 10vw;
  }

  .hamburger {
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-size: 4vw;
    cursor: pointer;
    z-index: 10000;
    margin-right: 5vw;
    position: fixed;
    margin-left: 90vw;
  }

  .nav-list {
    opacity: 1;
    z-index: 9999;
    position: fixed;
    right: -100%;
    top: 0;
    flex-direction: column;
    background-color: rgba(228,4,66,0.999);
    width: 100%;
    height: 100%;
    transition: all 0.7s ease-in-out;

  }

  .rightHeader{
    
  }

  .rightHeader ul {
   display: block;
   margin-top: 15vw;

  }

  .rightHeader li {
    background-color: rgba(228,4,66,0.999);
  }

  .nav-list.active {
    right: -55%;
  }

  .rightHeader ul li a {
    align-items: left;
    
  }

  .text-light {
    font-size: 4vw;
  }
}

.rightHeader li {
  text-decoration: none;
  color: white;
  padding: 2rem;
  display: block;
  font-size: 1.5vw;
  font-family: Codec Cold Trial, Raleway;
}
