@import url("http://fonts.cdnfonts.com/css/codec-cold");
@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@700&display=swap");

.header {
  background-color: black;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: white;
  margin: 0;
  padding: 0;
  width: 100%;
}

.logo {
  margin-top: 1rem;
}

.logo #logoo {
  width: 7vw;
  height: 7vw;
  margin-left: 7vw;
  font-family: Josefin Sans;
  font-size: 5vw;
  font-weight: bolder;
}

@media (max-width: 1000px) {
  .logo #logoo {
    margin-left: 5vw;
    width: 10vw;
    height: 10vw;
    font-size: 7vw;
    overflow: hidden;
  }
}

.rightHeader {
  display: flex;
}

.rightHeader ul {
  margin-top: 1.5vw;
  padding: 0;
  display: flex;
}

.rightHeader li {
  list-style-type: none;
  justify-content: space-between;
  padding: 1vw 2vw 0vw 2vw;
}

@media (max-width: 575px) {
  .rightHeader li {
    padding: 0;
  }

  .logo #logoo {
    margin-left: 2vw;
    width: 30vw;
    height: 15vw;
    overflow: hidden;
    font-size: 10vw;
  }
}

.rightHeader li {
  text-decoration: none;
  color: white;
  padding: 2rem;
  display: block;
  font-size: 1.5vw;
  font-family: Codec Cold Trial, Raleway;
}
