@import url("https://db.onlinewebfonts.com/c/1a0f9c82ae37cc35dc3c8e6c81ea95a4?family=Larsseit");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap");
@import url("http://db.onlinewebfonts.com/c/70c38766a71f8f7f0a477605da15fcd3?family=SF+Pro+Display");

.playground {
  margin: 0;
  padding: 0;
  background-color: black;
  color: white;
}

.playTitle #pTitle {
  font-family: Larsseit, Arial;
  font-size: 5vw;
}

.playTitle {
  margin: 0 0 5vw 17vw;
}

.playText {
  margin: 1.4vw 0 7vw 40vw;
  display: flex;
  flex-direction: column;
  font-family: SF Pro Display, sans-serif, Arial;
  font-size: 1.5vw;
  text-align: center;
}

.playList span {
  font-size: 3vw;
  font-family: Poppins, sans-serif, Arial;
}

.playList span ul li {
  margin-left: 20vw;
  padding: 2vw 0 2vw 0;
}
