@import url("https://fonts.googleapis.com/css2?family=Inter:wght@200&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@200&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Kaisei+Decol&display=swap");

.mainPage {
  font-family: "Inter", Raleway, Kaisei Decol;
  font-weight: 300;
  color: white;
  height: auto;
}

.imgb2 {
  width: 100%;
  margin-top: -33vw;
  z-index: 1;
}

.intro {
  display: flex;
  flex-direction: column;
  width: 35vw;
  margin-top: 9vw;
  margin-left: 10vw;
  margin-bottom: 7vw;
}

.intro span {
  font-size: 1.2vw;
  z-index: 999;
  background-color: transparent;
}

.linkAbout span {
  margin-top: 10px;
  display: inline-block;
  position: relative;
  color: white;
}

.linkAbout span:after {
  content: "";
  position: absolute;
  width: 6.2vw;
  transform: scaleX(1);
  height: 1.5px;
  bottom: 0;
  left: 0;
  background-color: white;
  transform-origin: bottom left;
  transition: transform 0.25s ease-out;
}

.linkAbout span:hover:after {
  transform: scaleX(0);
  transform-origin: bottom right;
}

#aboutArr {
  font-family: Kaisei Decol;
}

.box {
  z-index: 999;
  overflow: hidden;
  position: absolute;
  height: 30vw;
  width: 30vw;
  background-color: transparent;
  margin: 0vw 0 2vw 60vw;
}

.box img {
  height: 100%;
}

li {
  list-style-type: none;
}

@media (max-width: 1000px) {
  .box {
    
    height: 40vw;
    width: 40vw;
    margin: 5vw 0 2vw 50vw;
  }

  .intro {
    margin-top: 14vw;
    margin-bottom: 14vw;
  }
  .intro span {
    width: 37vw;
    font-size: 2vw;
  }

  .linkAbout span:after {
    width: 8vw;
    height: 1.5px;
  }
}

@media (max-width: 575px) {
  .intro {
    margin: 100vw 1vw 5vw 5vw;
    width: auto;
  }
  .intro span {
    width: 90vw;
    font-size: 4vw;
  }

  .box {
    height: 90vw;
    width: 90vw;
    margin: 15vw 0 0 50vw;
  }

  .box img{
    margin-left: 15vw;
  }

  .linkAbout span:after {
    width: 16vw;
    height: 1.5px;
  }
}
