@import url("https://fonts.googleapis.com/css2?family=Kaisei+Decol&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@200&display=swap");

.meet {
  background-color: rgb(0, 0, 0);
  color: white;
}

.meetText {
  float: left;
  text-align: center;
  padding: 0vw;
  margin-top: 5vw;
}

#textOne {
  font-size: 10vw;
  font-weight: 100;
  font-family: Raleway;
  padding: 0vw 7vw 0vw 17vw;
}

#textTwo {
  font-size: 10vw;
  font-weight: 200;
  font-family: Kaisei Decol, serif;
  padding: 0 7vw 0 0;
}

#textThree {
  font-size: 10vw;
  font-weight: 100;
  font-family: "Inter";
}

.bottomText {
  color: white;
  margin-top: 25vw;
  margin-left: 47vw;
}

.bottomText span {
  font-size: 2vw;
  display: flex;
  flex-direction: column;
  width: 30vw;
}

li {
  list-style-type: none;
}

@media (min-width: 700px) {
  .bottomText span {
    font-size: 1.5vw;
    font-weight: 300;
    width: 40vw;
  }
}

.linkChat span {
  margin-top: 10px;
  display: inline-block;
  position: relative;
  color: white;
}

.linkChat span:after {
  content: "";
  position: absolute;
  width: 8vw;
  transform: scaleX(1);
  height: 1.5px;
  bottom: 0;
  left: 0;
  background-color: white;
  transform-origin: bottom left;
  transition: transform 0.25s ease-out;
}

.linkChat span:hover:after {
  transform: scaleX(0);
  overflow: hidden;
  transform-origin: bottom right;
}

#chatArr {
  font-family: Kaisei Decol;
}

@media (max-width: 1000px) {
  #textOne {
    font-size: 15vw;
    padding: 0vw 4vw 0vw 7vw;
  }
  #textThree {
    font-size: 15vw;
  }

  .bottomText span {
    font-size: 2vw;
    font-weight: 300;
    position: absolute;
    margin-left: -40vw;
  }
  .linkChat {
    margin-top: 8vw;
  }
  .linkChat span:after {
    width: 11vw;
  }
}

@media (max-width: 575px) {
  .meetText {
    float: none;
    margin-top: 20vw;
  }

  #textOne {
    padding: 0vw 5vw 0vw 0vw;
  }

  .bottomText {
    margin: 7vw 0vw 0vw 47vw;
    width: auto;
  }
  .bottomText span {
    width: 90vw;
    font-size: 4vw;
  }

  .box {
    height: 90vw;
    width: 90vw;
    margin-left: 3vw;
  }

  .linkChat {
    margin-top: 10vw;
    margin-bottom: 15vw;
  }

  .linkChat span:after {
    width: 22vw;
  }
}
