@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@200&display=swap");

.bannerContainer {
  margin: 0;
  padding: 0;
  height: 50vh;
  font-family: Raleway;
  overflow: hidden;
  background-size: cover;
  background-color: black;
}

.scroll-text1 {
  color: white;
  margin-top: 7vw;
}

.scroll-text1 #textOne {
  padding: 0vw 7vw 0vw 10vw;
}

@media (max-width: 1000px) {
  .scroll-text1 {
    margin-top: 15vw;
  }
  .scroll-text1 #textOne {
    font-size: 13vw;
    padding: 0vw 5vw 0vw 5vw;
  }
  .scroll-text1 #textThree {
    font-size: 13vw;
  }
}

@media (max-width: 575px) {
  .bannerContainer {
    height: 30vh;
  }
  
  .scroll-text1 {
    margin-top: 20vw;
  }

  .scroll-text1 #textOne {
    font-size: 13vw;
    padding: 0vw 5vw 0vw 3vw;
  }
  .scroll-text1 #textThree {
    font-size: 13vw;
  }
}