@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@700&display=swap");

.bannerContainer {
  margin: 0;
  padding: 0;
  height: 50vh;
  font-family: Raleway;
  overflow: hidden;
  background-size: cover;
  background-color: white;
}

.scroll-text1 {
  margin-top: 7vw;
}

.scroll-text1 #textOne {
  padding: 0vw 7vw 0vw 10vw;
}
