.footer {
  background-color: black;
  color: white;
}

.col1,
.col2,
.col3 {
  display: flex;
  flex-direction: column;
}

#colName {
  font-size: 1.05vw;
  font-family: GT Super Ds Trial Lt;
  font-weight: 400;
}

#colDetail {
  font-size: 1vw;
  font-family: SF Pro Display;
  font-weight: 200;
  margin-top: 1vw;
}

#copyright {
  margin-top: 1vw;
  font-size: 1vw;
  font-weight: 100;
}

.col1 {
  text-align: left;
  float: left;
  width: 33.3%;
}

.col1 span {
  margin-left: 7vw;
}

.col2 {
  text-align: center;
  float: left;
  width: 33.3%;
}

.col2 #colDetail a {
  text-decoration: none;
  color: white;
}

.col2 #colDetail a:hover {
  text-decoration: underline;
  color: white;
}

.col3 {
  text-align: right;
  float: right;
  width: 33.3%;
}

.col3 span {
  margin-right: 7vw;
}

#socialIcon {
  display: flex;
  flex-direction: row;
  margin-top: 1vw;
  margin-left: 4.8vw;
}

#socialIcon li {
  padding-left: 2vw;
  list-style-type: none;
}
