.footer {
  background-color: black;
  color: white;
}

.col1,
.col2,
.col3 {
  display: flex;
  flex-direction: column;
}

#colName {
  font-size: 1.05vw;
  font-family: GT Super Ds Trial Lt;
  font-weight: 400;
}

#colDetail {
  font-size: 1vw;
  font-family: SF Pro Display;
  font-weight: 200;
  margin-top: 1vw;
}

#copyright {
  margin-top: 1vw;
  font-size: 1vw;
  font-weight: 100;
}

.col1 {
  text-align: left;
  float: left;
  width: 33.3%;
}

.col1 span {
  margin-left: 7vw;
}

.col2 {
  text-align: center;
  float: left;
  width: 33.3%;
}

.col2 #colDetail a {
  text-decoration: none;
  color: white;
}

.col2 #colDetail a:hover {
  text-decoration: underline;
  color: white;
}

.col3 {
  text-align: right;
  float: right;
  width: 33.3%;
}

.col3 span {
  margin-right: 7vw;
}

#socialIcon {
  display: flex;
  flex-direction: row;
  margin-top: 2vw;
  margin-left: 4.8vw;
}

#socialIcon li {
  padding-left: 2vw;
  list-style-type: none;
}

@media (max-width: 800px) {
  #colName {
    font-size: 1.7vw;
  }

  #colDetail {
    font-size: 1.5vw;
    font-family: SF Pro Display;
  }

  #copyright {
    font-size: 1.5vw;
  }

  .secSocial {
    height: 3vw;
    width: 3vw;
  }
}

@media (max-width: 400px) {
  .footer {
    padding-top: 12vw;
  }
  .col1 {
    width: 100%;
    margin-left: 0vw;
  }

  .col2 {
    margin-left: 7vw;
    margin-top: 10vw;
    text-align: left;
    width: 100%;
  }

  .col3 {
    margin-left: 7vw;
    margin-top: 10vw;
    text-align: left;
    float: left;
    width: 100%;
  }

  #colName {
    font-size: 4vw;
  }

  #colDetail {
    margin-top: 2.5vw;
    font-size: 3.5vw;
    font-family: SF Pro Display;
  }

  #copyright {
    margin-top: 10vw;
    margin-bottom: 5vw;
    font-size: 3.5vw;
  }

  #socialIcon {
    margin-top: 2vw;
    margin-left: -0.7vw;
  }
  .secSocial {
    height: 7vw;
    width: 7vw;
  }

  #socialIcon li {
    padding-left: 7vw;
    list-style-type: none;
  }
}
