@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@700&display=swap");

.bannerBottom {
  padding: 0;
  background-color: rgb(0, 0, 0);
}

.bannerTitle {
  color: white;
  font-family: Oswald;
  font-weight: bolder;
  font-size: 4.5vw;
  display: inline-block;
}

.bannerTitle span {
  padding-left: 2vw;
}

.bannerTitle #t1,
#t2 {
  float: left;
  text-align: left;
}

.bannerTitle #t2 span {
  color: black;
  text-shadow: 0 -0.1vw white, 0.01vw 0 white, 0 0.1vw white, -0.2vw 0 white;
}

