.mainBody {
  background-color: white;
  color: black;
  text-align: center;
}

.name {
  font-size: 2vw;
  margin-left: 20vw;
}

.name span {
  margin-top: 5vw;
  display: flex;
  flex-direction: row;
}

.tName {
  font-size: 8.5vw;
  font-weight: bolder;
}

.tName span {
  margin-top: 0.01vw;
  display: flex;
  flex-direction: column;
}

.tName span:hover {
}

.shapes {
  margin-top: 10vw;
  background-color: transparent;
}

.link {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 1;
}

#one {
  height: 30px;
  width: 30px;
  margin-left: 10vw;
  margin-top: -10vw;
  border-radius: 50%;
  position: absolute;
  background-color: #5cff5c;
}

#two {
  height: 30px;
  width: 30px;
  background-color: #f070a1;
  margin-left: 90vw;
  margin-top: -10vw;
  border-radius: 50%;
  position: absolute;
}

#three {
  height: 30px;
  width: 30px;
  background-color: #ffff00;
  margin-left: 75vw;
  margin-top: -35vw;
  border-radius: 50%;
  position: absolute;
}

#four {
  height: 30px;
  width: 30px;
  background-color: #16ffbd;
  margin-left: 27vw;
  margin-top: -40vw;
  border-radius: 50%;
  position: absolute;
}
