.mainBody {
  background-color: white;
  color: black;
  text-align: center;
  z-index: 990;
}

.name {
  font-size: 2vw;
  margin-left: 20vw;
}

.name span {
  margin-top: 5vw;
  display: flex;
  flex-direction: row;
}

.tName {
  font-size: 8.5vw;
  font-weight: bolder;
}

.tName span {
  margin-top: 0.01vw;
  display: flex;
  flex-direction: column;
}

.tName span:hover {
}

.shapes {
  margin-top: 10vw;
  background-color: transparent;
}

#one {
  height: 1vw;
  width: 1vw;
  margin-left: 10vw;
  margin-top: -10vw;
  border-radius: 50%;
  position: absolute;
  background-color: #5cff5c;
}

#two {
  height: 1vw;
  width: 1vw;
  background-color: #f070a1;
  margin-left: 90vw;
  margin-top: -10vw;
  border-radius: 50%;
  position: absolute;
}

#three {
  height: 1vw;
  width: 1vw;
  background-color: #ffff00;
  margin-left: 75vw;
  margin-top: -35vw;
  border-radius: 50%;
  position: absolute;
}

#four {
  height: 1vw;
  width: 1vw;
  background-color: #16ffbd;
  margin-left: 35vw;
  margin-top: -40vw;
  border-radius: 50%;
  position: absolute;
}

#five {
  margin-left: 77vw;
  margin-top: -20vw;
  border-color: tomato;
  border: 2px solid tomato;
  position: absolute;
  overflow: hidden;
}


#six {
  margin-left: 15vw;
  margin-top: -22vw;
  border: 2px solid tomato;
  position: absolute;
  overflow: hidden;
}

#seven {
  margin-left: 50vw;
  margin-top: -35vw;
  border: 2px solid tomato;
  position: absolute;
  overflow: hidden;
}
