@import url("https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap");
@import url(//db.onlinewebfonts.com/c/fa43ebe4503431e9238a963c3b339d37?family=Codec+Cold+Trial);

.header {
  background-color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: black;
  margin-top: 0;
}

.logo {
  font-family: Permanent Marker;
  font-size: 4vw;
  margin-left: 70px;
}

@media (max-width: 1000px) {
  .logo {
    font-size: 7vw;
    margin-left: 0px;
    margin-top: -5px;
    overflow: hidden;
  }
  .logo span {
    padding: 10vw;
  }
}

.rightHeader {
  display: flex;
}

.rightHeader ul {
  margin: 0;
  padding: 0;
  display: flex;
}

.rightHeader li {
  list-style-type: none;
  justify-content: space-between;
  padding: 15px 20px 0px 20px;
}

@media (max-width: 575px) {
  .rightHeader li {
    padding: 0;
  }
}

.rightHeader li a {
  text-decoration: none;
  color: black;
  padding: 2rem;
  display: block;
  font-size: 1.5vw;
  font-family: Codec Cold Trial News;
}

.rightHeader li a:hover {
}

.active a {
}
