@import url("https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap");

.header {
  background-color: black;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: white;
  padding-top: 15px;
}

.logo {
  font-family: Permanent Marker;
  font-size: 4vw;
  margin: 0.5rem;
  padding-left: 70px;
}

.rightHeader {
  display: flex;
}

.rightHeader ul {
  margin: 0;
  padding: 0;
  display: flex;
}

.rightHeader li {
  list-style-type: none;
  justify-content: space-between;
  padding: 15px 20px 0px 20px;
}

.rightHeader li a {
  text-decoration: none;
  color: #ffffff;
  padding: 2rem;
  display: block;
  font-size: 1.5vw;
  font-family: Codec Cold Trial News;
}

.rightHeader li a:hover {
}

.active a {
}
