.mainPage {
  background-color: white;
  font-family: SF Pro Display;
  color: black;
  height: auto;
}

.intro {
  display: flex;
  flex-direction: column;
  margin-top: 0;
  width: 70em;
  margin-left: 15em;
}

.intro span {
  font-size: 1.5vw;
  margin-left: 1em;
}

.linkAbout span {
  margin-top: 10px;
  display: inline-block;
  position: relative;
  color: black;
  border-color: tomato;
}

.linkAbout span:after {
  content: "";
  position: absolute;
  width: 6.2vw;
  transform: scaleX(1);
  height: 1.5px;
  bottom: 0;
  left: 0;
  background-color: black;
  transform-origin: bottom left;
  transition: transform 0.25s ease-out;
}

.linkAbout span:hover:after {
  transform: scaleX(0);
  transform-origin: bottom right;
}

.box {
  overflow: hidden;
  height: 20vw;
  width: 20vw;
  background-color: yellow;
  margin: -11.2vw 0 0 65vw;
}
