@import url(//db.onlinewebfonts.com/c/0b51833ff62e4af8acb5fd3e2bf59e97?family=SF+Pro+Display);

.mainPage {
  background-color: white;
  font-family: SF Pro Display, Raleway;
  color: black;
  height: auto;
}

.intro {
  display: flex;
  flex-direction: column;
  width: 35vw;
  margin-top: 9vw;
  margin-left: 10vw;
  margin-bottom: 7vw;
}

.intro span {
  font-size: 1.5vw;
}

.linkAbout span {
  margin-top: 10px;
  display: inline-block;
  position: relative;
  color: black;
}

.linkAbout span:after {
  content: "";
  position: absolute;
  width: 6.2vw;
  transform: scaleX(1);
  height: 1.5px;
  bottom: 0;
  left: 0;
  background-color: black;
  transform-origin: bottom left;
  transition: transform 0.25s ease-out;
}

.linkAbout span:hover:after {
  transform: scaleX(0);
  transform-origin: bottom right;
}

.box {
  z-index: 999;
  overflow: hidden;
  position: absolute;
  height: 30vw;
  width: 30vw;
  background-color: yellow;
  margin: 0vw 0 2vw 60vw;
}

@media (max-width: 1000px) {
  .box {
    height: 40vw;
    width: 40vw;
    margin: 5vw 0 2vw 50vw;
  }

  .intro {
    margin-top: 14vw;
    margin-bottom: 14vw;
  }
  .intro span {
    width: 37vw;
    font-size: 2vw;
  }

  .linkAbout span:after {
    width: 8vw;
    height: 1.5px;
  }
}

@media (max-width: 575px) {
  .intro {
    margin: 90vw 1vw 5vw 5vw;
    width: auto;
  }
  .intro span {
    width: 90vw;
    font-size: 4vw;
  }

  .box {
    height: 90vw;
    width: 90vw;
    margin-left: 3vw;
  }

  .linkAbout span:after {
    width: 16vw;
    height: 1.5px;
  }
}
