.bar {
  height: 35vw;
  background-color: rgb(0, 0, 0);
}

.minBar {
  height: 10vw;
  background-color: white;
  margin: 12vw 7vw 0 7vw;
}

.minBar .barText {
  font-size: 2.5vw;
  font-family: SF Pro Display;
  font-weight: 400;
  text-align: center;
  margin-top: 4vw;
}

@media (max-width: 800px) {
  .minBar {
    height: 12vw;
  }
  .minBar .barText {
    font-size: 3.5vw;
    margin-top: 4vw;
  }
}

@media (max-width: 400px) {
  .minBar {
    height: 21vw;
  }
  .minBar .barText {
    font-size: 7vw;
    margin-top: 2vw;
  }
}

