.bar {
  height: 40vw;
  background-color: black;
}

.minBar {
  height: 10vw;
  background-color: white;
  margin: 15vw 7vw 0 7vw;
}

.minBar .barText {
  font-size: 2.5vw;
  font-family: SF Pro Display;
  font-weight: 400;
  text-align: center;
  margin-top: 4vw;
}
