@import url("https://fonts.googleapis.com/css2?family=Kaisei+Decol&display=swap");
@import url(//db.onlinewebfonts.com/c/0b51833ff62e4af8acb5fd3e2bf59e97?family=SF+Pro+Display);

.bar {
  height: 36vw;
  background-color: rgb(0, 0, 0);
}

.minBar {
  height: 10vw;
  background-color: white;
  margin: 12vw 7vw 0 7vw;
}


#downArrow {
  font-family: Kaisei Decol;
  font-weight: 200;
}

.minBar .barText {
  font-size: 2.5vw;
  font-family: SF Pro Display;
  font-weight: 400;
  text-align: center;
  margin-top: 4vw;
}

@media (max-width: 1000px) {
  .minBar {
    height: 12vw;
    margin: 12vw 4vw 0 4vw;
  }
  .minBar .barText {
    font-size: 3.5vw;
    margin-top: 4vw;
  }
}

@media (max-width: 575px) {
  .bar {
    height: 45vw;
    padding-top: 10vw;
  }

  .minBar {
    height: 22vw;
  }
  .minBar .barText {
    font-size: 7vw;
    margin-top: 3vw;
  }
}
