@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@700&display=swap");

.bannerContainer {
  margin: 0;
  padding: 0;
  font-family: Oswald;
  background-size: cover;
  background-color: white;
}

section {
  position: relative;
  width: 100%;
  height: 30vw;
  overflow: hidden;
}

section .scroll {
  width: auto;
  display: flex;
}

section .scroll div {
  color: black;
  font-size: 7.7vw;
  background: white;
  white-space: nowrap;
  font-weight: 900;
  text-transform: uppercase;
  animation: animate 40s linear infinite;
  animation-delay: -40s;
}

section .scroll div:nth-child(2) {
  animation: animate2 40s linear infinite;
  animation-delay: -20s;
}

section .scroll div span {
  -webkit-text-stroke: 0.1vw black;
  color: transparent;
}

@keyframes animate {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(-100%);
  }
}

@keyframes animate2 {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-200%);
  }
}

section .scroll.text1 {
  transform: rotate(0deg) translateY(10vw) translateX(0);
  box-shadow: 0 0 0vw 0 rgba(0, 0, 0, 0.5);
}

@media (max-width: 400px) {
  section .scroll div {
    font-size: 14vw;
  }

  section .scroll div span {
    -webkit-text-stroke: 0.2vw black;
  }

  section .scroll {
    display: block;
  }

  @keyframes animate {
    0% {
      transform: translateX(0);
    }
    100% {
      transform: translateX(0);
    }
  }

  @keyframes animate2 {
    0% {
      transform: translateX(100%);
    }
    100% {
      transform: translateX(100%);
    }
  }
  section .scroll.text1 {
    transform: rotate(0deg) translateY(7vw) translateX(-5vw);
  }
}
