.bannerBack {
  background-color: black;
}

.bannerText {
  color: white;
  font-family: Tungsten;
  font-weight: bolder;
  font-size: 10vw;
  display: inline-block;
}

.latest {
  padding-left: 3vw;
  padding-right: 2vw;
}

.work {
  color: black;
  text-shadow: 0 -0.1vw white, 0.01vw 0 white, 0 0.1vw white, -0.2vw 0 white;
}
